main {
  display: grid;
  grid-template-areas: 'container form';
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.current-weather_form {
  grid-area: form;
}

.current-weather_container {
  display: grid;
  grid-area: container;
  grid-template-areas:
    'town town'
    'country country'
    'clock clock'
    'temperature icon'
    'text text'
    'list list';
  grid-template-rows: repeat(3, max-content) 5rem;
  grid-template-columns: min-content max-content;
  row-gap: 0.2rem;
  column-gap: 1rem;
}

.current-weather_town {
  grid-area: town;
  font-size: 3rem;
}

.current-weather_country {
  grid-area: country;
  font-size: 3rem;
}

.current-weather_clock {
  grid-area: clock;
}

.current-weather_temperature {
  grid-area: temperature;
  font-size: 5rem;
}

.current-weather_condition-text {
  grid-area: text;
  font-size: 2rem;
  padding: 0.5rem 0rem;
}

.current-weather_list {
  gap: 0.5rem;
  grid-area: list;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
}

.current-weather_list li {
  display: flex;
  display: grid;
  grid-template-areas:
    'icon text'
    'icon value';
  grid-template-rows: 1rem 2rem;
  grid-template-columns: max-content max-content;
  column-gap: 0.5rem;
  row-gap: 0.1rem;
}

.current-weather_list-icon {
  grid-area: icon;
}

.current-weather_list-text {
  grid-area: text;
}

.current-weather_list-value {
  grid-area: value;
  font-size: 1.5rem;
}
