:root {
  --padding-days: clamp(10rem, 10vw, 1fr);
}

.day-weather_container {
  white-space: nowrap;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(7rem, 15rem);
  grid-template-rows: minmax(7rem, 15rem);
  justify-content: center;
  gap: 1rem;
}

.day-weather_item {
  background-color: var(--light-gray);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  justify-items: center;
  padding: var(--rpadding1);
  aspect-ratio: 1 / 1;
}

.day-weather_item-bottom {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.day-weather_precip {
  display: grid;
  grid-auto-flow: column;
}
