.day-weather_container p {
  text-shadow: var(--shadow-text2);
}

.day-weather_container img {
  filter: var(--shadow-filter);
}

.day-weather_precip img {
  filter: var(--shadow-filter2);
}

.day-weather_container {
  white-space: nowrap;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(7rem, 10rem);
  grid-template-rows: max-content;
  justify-content: center;
  gap: 1rem;
}

.day-weather_item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  justify-items: center;
  padding: var(--rpadding1);
  aspect-ratio: 1 / 1;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 16px;
}

.day-weather_item-bottom {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.day-weather_precip {
  display: grid;
  grid-auto-flow: column;
}

.day-weather_date {
  font-weight: 600;
  font-size: 1.1rem;
}
