@font-face {
  font-family: BRCobane;
  src: url('../fonts/BRCobane-Regular.otf');
}

:root {
  --white: #ffffff;
  --gray: #272727;
  --light-gray: #6b6b6b;

  --rpadding1: clamp(0.1rem, 0.2vw, 1rem);
  --shadow-filter: drop-shadow(2px 2px black);
  --shadow-filter2: drop-shadow(1px 1px black);
  --shadow-text: 2px 2px black;
  --shadow-text2: 1px 1px black;
  --shadow-box: 2px 2px black;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'BRCobane', 'sans-serif';
  background-size: cover;
  background-image: url(../assets/images/sun.jpg);
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: 3vh;
}

img {
  height: 100%;
  width: auto;
}

p {
  margin: 0;
}
