:root {
  --white: #ffffff;
  --gray: #272727;
  --light-gray: #6b6b6b;

  --rpadding1: clamp(0.1rem, 0.2vw, 1rem);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-size: cover;
  background-image: url(../assets/images/sun.jpg);
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: 3vh;
}

img {
  height: 100%;
  width: auto;
}

p {
  margin: 0;
}
