.hour-weather_wrapper {
  overflow: hidden;
  display: grid;
  align-content: center;
  cursor: grab;
  width: 100%;
  user-select: none;
  justify-self: center;
}

.hour-weather_wrapper img {
  pointer-events: none;
}

.hour-weather_slider {
  white-space: nowrap;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: clamp(6rem, 10vw, 8rem);
  grid-template-rows: clamp(6rem, 10vw, 8rem);
  gap: 1rem;
}

.hour-weather_item {
  background-color: var(--light-gray);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  justify-items: center;
  padding: var(--rpadding1);
}

.hour-weather_item-bottom {
  gap: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.hour-weather_precip {
  display: grid;
  grid-auto-flow: column;
}
