@media (max-width: 800px) {
  main {
    grid-template-areas:
      'container'
      'form';
    grid-template-columns: 100vw;
    grid-template-rows: 1fr max-content;

    align-items: center;
    justify-items: start;
  }

  .current-weather_container {
    padding: 0 0 0 var(--padding-side);
    padding-top: 1rem;
  }

  .current-weather_form {
    padding: 0 0 0 var(--padding-side);
    justify-self: auto;
  }
}
