/* Temporary for testing */

body {
  background-color: rgb(24, 23, 23);
  color: white;
}

.weather-icon {
  height: 100px;
  width: 100px;
}

#day-weather_container {
  display: flex;
}

#day-weather_container img {
  width: 100%;
  display: flex;
}

#hour-weather_container {
  display: flex;
}

#hour-weather_container img {
  width: 100%;
  display: flex;
}
